.colin {
  width: 220px;
  /*@include border-radius(50%);*/
  @include shadow(hsl(0, 0%, 60%));
  float: left;
  margin: 0 30px 20px 0 ;
}

.about-name {
  font-size: 3.4em;
  margin: 0 0 .2em;
  text-align: center;
}

.intro {
  font-size: 1.2em;

}
