@import 'http://fonts.googleapis.com/css?family=Cabin';

a {
  font-family: cabin;
  text-decoration: none;
  font-weight: bold;
  color: hsl(0, 0%, 23%);
  &:hover {
    text-decoration: underline;
  }
}

body {
  margin: 0px;
  background: hsl(20, 18%, 93%);
  font-family: cabin;
  -webkit-font-smoothing: antialiased;
  color: hsl(0, 0%, 23%);
}

.content {
  width: 70%;
  max-width: 810px;
  margin: 0 auto;
}
