.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 22px;
  list-style: none;
  padding: .7em;
  margin: 0;
  cursor: pointer;

  li {
    float: left;
  }
  @include breakpoint(big-phone) {
    background: hsl(0, 14%, 62%);
    font-size: 16px;
  }
}

body {
  padding-bottom:  3em;
}

.nav-item {
  padding: 0 20px;
  letter-spacing: 1px;

  a {
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
    font-weight: normal;

    @include breakpoint(big-phone) {
      color: white;
    }
  }
}
