.posts {
  list-style: none;
  font-size: 30px;
  padding: 0;
}

.post {
  margin: 15px 0;
  padding: 5px;
  @include opacity(0);
}

.post-date {
  @include opacity(0.6);
  width: 280px;
  margin-right: 50px;
  float: left;
  text-align: right;
}
