.post-title {
  font-size: 45px;
}

.created {
  font-size: 30px;
  @include opacity( 0.2);
  margin:15px 0;
}

.post-body{
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 50px;
  a {
    color: hsl(0, 47%, 36%);
  }
}

code {
  background: hsla(0, 0%, 18%, 0.11);
  padding: 2px 4px;
  font-size: 15px;
  margin: 0 3px;
  @include border-radius(3px);
}

pre {
  font-family: monaco;
  font-size: .8em;
  code {
    padding: 15px;
    line-height: 1.4em;
    font-family: monaco;
  }
}
