.post-title {
  font-size: 45px;
}

.created {
  font-size: 30px;
  opacity: 0.2;
  margin:15px 0;
}

.post-content {
  width: 600px;
  font-size: 19px;
  a {
    color: hsl(0, 47%, 36%);
    font-weight: bold;
  }

  p {
    line-height: 25px;
  }
}

code {
  background: hsla(0, 0%, 18%, 0.11);
  padding: 2px 4px;
  font-size: 15px;
  margin: 0 3px;
  border-radius: 3px;
}

pre {
  font-family: monaco;
  font-size: .8em;
  code {
    padding: 15px;
    line-height: 1.4em;
    font-family: monaco;
  }
}
