extends ../layouts/base
block title
  title about
block nav
  mixin nav('about')
block content
  .post
    p My name is Colin Wren and I'm a web developer located in the San Francisco bay area. If you'd like to get in touch, you can reach me through my Email, GitHub, or Twitter.
