extends ../layouts/base

block content
  .content.content-home
    .quote The computer is the most remarkable tool that we've ever come up with. It's the equivalent of a bicycle for our minds.
    .author Steve Jobs

block scripts
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="scripts/dissolve.js")
  script(src="scripts/home.js")
